@using DO_AN_FPT_SHOP.Models
@model IEnumerable<Voucher>
@{
    ViewBag.Title = "DanhSachVoucher";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}
<style>
    h2 {
        margin-left: 40%;
        color: #3350b4;
    }


    #admin-title {
        margin-left: 45%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #3350b4;
    }
</style>
<h1 id="admin-title">ADMIN</h1>
<h2>QUẢN LÝ VOUCHER</h2>
<p>@Html.ActionLink("Thêm mới", "TaoVoucher", null, new { @class = "btn  btn-sm  btn-dark" })</p>
<table class="table">
    <tr>

        <th>MÔ TẢ</th>
        <th>MỨC GIẢM</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="btn-sm">
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.ActionLink("Sửa", "ChinhSuaVoucher", new { voucherID = item.VoucherID }, new { @class = "btn btn-sm btn-success" }) |
                @Html.ActionLink("Xóa", "XoaVoucher", new { voucherID = item.VoucherID }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }
</table>